body {
	background-color: #ffffffff;
	color: #000000ff;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#canvas {
	float: left;
	margin: 0 1em 0 0;
}

#info {
	white-space: nowrap;
	overflow: hidden;
}