body {
	background-color: #080808ff;
	color: #ffffffff;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#canvas {
	float: left;
	margin: 0 1em 0 0;
}

#info {
	white-space: nowrap;
	overflow: hidden;
}

.player_0 {
	color: #88ccffff;
}

.player_1 {
	color: #ff8888ff;
}

.warning {
	color: #ffff88ff;
}

.power {
	color: #ffffccff;
}

.ice {
	color: #ccffffff;
}

.ore {
	color: #ccccccff;
}
