body {
	background-color: #080808ff;
	color: #ffffffff;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#canvas {
	float: left;
	margin: 0 2em 0 0;
}

#info {
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
}

.player_0 {
	color: #88ccffff;
}

.player_1 {
	color: #ff8888ff;
}

.gray {
	color: #ccccccff;
}

.white {
	color: #ffffffff;
}

.black {
	color: #080808ff;
}

.warning {
	color: #ffff88ff;
}

.power {
	color: #ffffaaff;
}

td {
	padding: 0;
}
